name: Manage - Sync fork (Branch main)

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:


permissions:
      contents: read


jobs:
  update_external_airflow_fork:
    name: Sync branch main with origin
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:     
      - name: Generate app token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: generate-token
        with:
          app-id: ${{ secrets.GH_APP_SRP_ID }}
          private-key: ${{ secrets.GH_APP_SRP_PRIVATE_KEY }}

      - name: Checkout Code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Synchronize the given branch now
        uses: TobKed/github-forks-sync-action@2fb78daa46a630ff56455a63dec51ff00ba56e23 #v0.4.0
        with:
          github_token: ${{ steps.generate-token.outputs.token }}
          upstream_repository: actions/runner-images
          target_repository: dwydler/runner-images-hetzner-cloud
          upstream_branch: main
          target_branch: main
          force: false
          tags: false
