name: Ubutnu - Trigger collect informations

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
    outputs:
      ReleaseName:
        value: ${{ jobs.Get-BasicInformations.outputs.ReleaseName }}
      ReleaseTag:
        value: ${{ jobs.Get-BasicInformations.outputs.ReleaseTag }}
      HclFile:
        value: ${{ jobs.Get-BasicInformations.outputs.HclFile }}
      ReleaseNo:
        value: ${{ jobs.Get-BasicInformations.outputs.ReleaseNo }}
      HCloudObjectName:
        value: ${{ jobs.Get-BasicInformations.outputs.HCloudObjectName }}
      HCloudServerImage:
        value: ${{ jobs.Get-BasicInformations.outputs.HCloudServerImage }}
      ReadmeFile:
        value: ${{ jobs.Get-BasicInformations.outputs.ReadmeFile }}
      GitHubPrLabels:
        value: ${{ jobs.Get-BasicInformations.outputs.GitHubPrLabels }}


permissions:
  contents: read
  

jobs:
  Get-BasicInformations:
    runs-on: ubuntu-latest
      
    steps:
      - name: Get the current date
        id: date
        run: echo "date=$(TZ='Europe/Berlin' date +'%Y%m%d')" >> $GITHUB_OUTPUT
        

      - name: Define the name of the OS
        id: os
        run: |         
          if [ "${{ inputs.os }}" == "ubuntu22" ]; then
            echo "osname=Ubuntu 22.04" >> $GITHUB_OUTPUT
            echo "packerfile=ubuntu-22.04.pkr.hcl" >> $GITHUB_OUTPUT
            echo "osimage=ubuntu-22.04" >> $GITHUB_OUTPUT
            echo "readme=Ubuntu2204-Readme.md" >> $GITHUB_OUTPUT
            echo "ghprlabels=OS: Ubuntu,OS: Ubuntu22" >> $GITHUB_OUTPUT
            
          elif [ "${{ inputs.os }}" == "ubuntu24" ]; then
            echo "osname=Ubuntu 24.04" >> $GITHUB_OUTPUT
            echo "packerfile=ubuntu-24.04.pkr.hcl" >> $GITHUB_OUTPUT
            echo "osimage=ubuntu-24.04" >> $GITHUB_OUTPUT
            echo "readme=Ubuntu2404-Readme.md" >> $GITHUB_OUTPUT
            echo "ghprlabels=OS: Ubuntu,OS: Ubuntu24" >> $GITHUB_OUTPUT
            
          else
            exit 1
          fi

      - name: Checkout the current repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    
      - name: Find newest Git Tag
        id: tagger
        uses: dwydler/query-git-tag-action@d197f166eac192eda7b1abc440b3369a9df929ff # v2.4
        with:
          include: ${{ inputs.os }}/${{ steps.date.outputs.date }}.*
          exact-match: 'false'
          no-tags-text: 'false'
          commit-ish: 'HEAD'


      - name: Create a new release name/tag
        id: releasetagname
        run: |
          if [ "${{ steps.tagger.outputs.tag }}" == "'false'" ]; then
            echo "var=$(TZ='Europe/Berlin' date +'%Y%m%d').1" >> $GITHUB_OUTPUT
          else
            #ver=$(echo "${{ steps.tagger.outputs.tag }}" | cut -d '.' -f 2)
            ver=$(echo "${{ steps.tagger.outputs.tag }}" | cut -d '.' -f 2)
            #ver=$ver+1
            ver=`expr $ver + 1`
            echo "var=$(TZ='Europe/Berlin' date +'%Y%m%d').$ver" >> $GITHUB_OUTPUT
          fi
              
    outputs:
      ReleaseName: ${{ steps.os.outputs.osname }} (${{ steps.releasetagname.outputs.var }}) Image Update
      ReleaseTag: ${{ inputs.os }}/${{ steps.releasetagname.outputs.var }}
      HclFile:  ${{ steps.os.outputs.packerfile }}
      ReleaseNo: ${{ steps.releasetagname.outputs.var }}
      HCloudObjectName: ${{ inputs.os }}-${{ steps.releasetagname.outputs.var }}
      HCloudServerImage: ${{ steps.os.outputs.osimage }}
      ReadmeFile: ${{ steps.os.outputs.readme }}
      GitHubPrLabels: "${{ inputs.os }}/${{ steps.releasetagname.outputs.var }},${{ steps.os.outputs.ghprlabels }}"


  Output-DebugInformations:
    needs: Get-BasicInformations
    runs-on: ubuntu-latest
     
    steps:
      - name: Write ReleaseName
        run: echo "${{ needs.Get-BasicInformations.outputs.ReleaseName }}"

      - name: Write ReleaseTag
        run: echo "${{ needs.Get-BasicInformations.outputs.ReleaseTag }}"

      - name: Write HCL filename
        run: echo "${{ needs.Get-BasicInformations.outputs.HclFile }}"

      - name: Write Release name
        run: echo "${{ needs.Get-BasicInformations.outputs.ReleaseNo }}"

      - name: Display Hetzner Object Name (Server, Snapshot, Labels,etc.)
        run: echo "${{ needs.Get-BasicInformations.outputs.HCloudObjectName }}"

      - name:  Display Hetzner Sever Image name
        run: echo "${{ needs.Get-BasicInformations.outputs.HCloudServerImage }}"

      - name:  Display GitHub Pull Request Labels
        run: echo "${{ needs.Get-BasicInformations.outputs.GitHubPrLabels }}"
